@font-face {
    font-family: "Ubuntu Mono";
    src: url(fonts/UbuntuMono-Regular.ttf);
}


@media (min-width: 601px) {
    body {
        background-image: url(lbjlawn.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #f5f5f5;
        text-align: center;
        display: flex;
        font-family: "Ubuntu Mono";
        overflow: hidden;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        margin: 0px auto;
    }
}

@media (max-width: 600px){
    body {
        background-image: url(lbjlawnportrait.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #f5f5f5;
        text-align: center;
        display: flex;
        font-family: "Ubuntu Mono";
        overflow: hidden;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        margin: 0px auto;
    }
}

i {
    margin: 0.01em;
}

header {
    color: #333333;
    font-size: 5em;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 15vh;
    box-sizing: border-box;
    margin: 0px;
}

main {
    color: #333333;
    justify-content: center;
    text-align: left;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 17vh;
    line-height: 400%;
    box-sizing: border-box;
}

footer {
    justify-content: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 20vh;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color: #333333; 
}

a:visited {
    text-decoration: none;
    color: #333333; 
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.06em;
    color: #5c5c5c;
}

a:active {
    text-decoration: none;
    color: #333333; 
}