@font-face {
    font-family: "Ubuntu Mono";
    src: url(fonts/UbuntuMono-Regular.ttf);
}

body {
    background-image: url(lbjlawn.jpg);
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    text-align: center;
    display: flex;
    font-family: "Ubuntu Mono";
    overflow: hidden;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: 0px auto;
}

i {
    margin: 0.01em;
}

header {
    color: #9279ba;
    font-size: 5em;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 25vh;
    box-sizing: border-box;
    margin: 0px;
}

main {
    color: #9279ba;
    justify-content: center;
    text-align: left;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 27vh;
    line-height: 400%;
    box-sizing: border-box;
}

footer {
    justify-content: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 30vh;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color: #baa1ed; 
}

a:visited {
    text-decoration: none;
    color: #baa1ed; 
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.06em;
    color: #d6c7f4;
}

a:active {
    text-decoration: none;
    color: #baa1ed; 
}